.theme-dark, :root {
  --color-navbar-cta-text: var(--color-text-default) !important;
  --footer-text-color: var(--color-text-default) !important;
  --color-text-default-light: var(--color-text-default) !important;
  --scrollbar-background-color: var(--color-bg-default) !important;
  --scrollbar-border-color: transparent !important;
}

.footer-cover,
.footer-cover:before,
.notion-header__cover.has-cover,
.notion-header__cover:after {
  left: 0 !important;
  width: 100% !important;
  position: absolute !important;
  filter: blur(90px) !important; /* ✅ Gaussian blur added */
}

.notion-pill,
code > span,
h1.notion-heading {
  font-weight: 400 !important;
}

.footer-cover,
.notion-header__cover.has-cover,
.super-navbar__menu-wrapper .enter-done {
  position: absolute !important;
}

:root {
  --bg-opacity: 0.5 !important;
  --max-width: 600px !important;
  --border-radius: 15px !important;
  --color-bg-default: #f6f4f4 !important;
  --theme-gradient: linear-gradient(to bottom, rgba(246, 244, 244, 0.9), rgba(246, 244, 244, 1)) !important;
}
